body {
  background-image: url("Galaxy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.img-sun {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 300px;
  animation: sun-animation 60s linear infinite;
}

@keyframes  sun-animation {
  0% {
    transform: rotate(-360deg);
  }
}
/* ---------------------------------------------------- */


.img-earth {
  width: 80px;
  animation: earth-animation 25s linear infinite, container-earth 35s linear infinite;
}
@keyframes earth-animation {
  0% {
    transform: rotate(-360deg);
  }
}

@keyframes container-earth {
  from {
    transform: rotate(0deg) translatex(300px);
  }
  to {
    transform: rotate(360deg) translatex(300px);
  }
}
/* ------------------------------------------------------- */


.img-neptun {
  width: 80px;
  animation: neptun-animation 30s linear infinite, container-neptun 20s linear infinite;
}

@keyframes neptun-animation {
  0% {
    transform: rotate(-360deg);
  }
}

@keyframes container-neptun {
  from {
    transform: rotate(0deg) translatex(220px);
  }
  to {
    transform: rotate(360deg) translatex(220px);
  }
}
/* -------------------------------------------------------------- */

.img-venus {
  width: 40px;
  animation: venus-animation 10s linear infinite, container-venus 10s linear infinite;
}
@keyframes venus-animation {
  0% {
    transform: rotate(-360deg);
  }
}

@keyframes container-venus {
  from {
    transform: rotate(0deg) translatex(180px);
  }
  to {
    transform: rotate(360deg) translatex(180px);
  }
}